/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #FFF;
    font: 14px 'Open Sans', arial, sans-serif;
    font-size: small;
    text-align: center;

    padding-top: 70px;
}

@media (min-width: 600px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

#doclist {
    padding-left: 30px;
    padding-right: 30px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts li div p {
    padding-left: 10px;
    margin-top: 5px;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 115%;
    text-align: justify;
    margin: 3em auto 2em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}
@media (min-width: 600px) {
  .site {
    padding-left: 3em;
    padding-right: 3em;
  }
}


#categories ul {
    list-style-type: none;
    padding: 0px;
}

#categories li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

#contact-logo {
    height: 32px;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    border: 0;
}

.navbar {
    background-color: #14181c;
    color: #37c3bb;
    min-height: 70px;
}

.navbar .container-fluid {
    margin-left: 50px;
    width: 1170px;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a
{
    background-color: #14181c;
    color: #37c3bb;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover
{
    color: #555;
    background-color: #e7e7e7;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

.post > .header > h1 {
    margin-bottom: 10px;
}

.post > .header > .meta {
    padding-bottom: 15px;
}

.post h2 {
    margin-top: 30px;
}

.post h3, .post h4 {
    margin-top: 20px;
}

